<div>
    <header class="header">
        <a href="#"><img src="/imgs/logo.png" id="logo"></a>
        
         <div class="filter-container">
             <input type="text" id="product-filter-input" placeholder="Filter products by name">
         </div>
         <nav class="navigation"> 
             <a href="cart.html">Cart</a>
             <a href="#">Career</a>
             <a href="#">Trade In</a>
             <a href="#">Branches</a>
             <a href="about.html">About</a>
         </nav>
     </header>
</div>