<div>
    <header class="header">
        <a href="#"><img src="/imgs/logo.png" id="logo"></a>
        
         <div class="filter-container">
             <input type="text" id="product-filter-input"  placeholder="Filter products by name" [(ngModel)]="filterText"  (input)="onFilterChange ()" />
         </div>
         <nav class="navigation"> 
            <a routerLink="/">Home</a>
             <a routerLink="/cart">Cart</a>
             <a href="#">Career</a>
             <a href="#">Trade In</a>
             <a href="#">Branches</a>
             <a routerLink="/about">About</a>
         </nav>
     </header>
</div>