/* Header styling */

.header {
    background-color:#d5dbe1;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* position: fixed;  */
}

/* Logo styling */
#logo {
    height: 80px;
    width: 115px;
    box-sizing: border-box; 
    margin-right: 30px;
}


.filter-container {
    text-align: center;
    margin: 2% auto;
    width: 60%;
}

#product-filter-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #f7f7f7; /* Light background */
    color: #333; /* Dark text for contrast */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Focus effect */
#product-filter-input:focus {
    background-color: #fff; /* Lighter background on focus */
    border-color: #3498db; /* Blue border on focus */
    outline: none; /* Remove the default focus outline */
}




/* Navigation links styling */
.navigation a {
    color: #5f6368;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    white-space: nowrap; 
    transition: color 0.3s ease, transform 0.3s ease;
}



.navigation a:hover {
    color: #3498db; 
    transform: scale(1.05); 
}


  .navigation a.active-link {
    color: #3498db;
    text-decoration: underline;
    transform: scale(1.05);
  }
  

