
.body {
    /* background-color: black; */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
}

.cards-container {
    /* background-color: rgb(118, 96, 209); */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;
    gap: 2% 5%;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1% ;
    margin-top: 1%;
    justify-items: center;
    
}

.card {
    background-color: rgb(196, 230, 242);
    justify-content: center;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    width: 100%; 
    max-width: 700px; 
    box-sizing: border-box;
}


.button {
    background-color: burlywood;  
    color: rgb(22, 21, 21); /* Text color */
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.card button:hover {
    background-color: burlywood;
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto; 
    border-radius: 2%;
    box-sizing: border-box;
}

.product-name strong {
    font-style: bold;
    cursor: pointer;          
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    white-space: nowrap; 
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .product-name strong:hover {
    color: #5f6368; 
    transform: scale(1.05);
  }  