
.body {
    /* background-color: black; */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
}

.cards-container {
    /* background-color: rgb(118, 96, 209); */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;
    gap: 2% 5%;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1% ;
    margin-top: 1%;
    justify-items: center;
    
}

.card {
    background-color: rgb(196, 230, 242);
    justify-content: center;
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    width: 100%; 
    max-width: 700px; 
    box-sizing: border-box;
}


.button {
    border-radius: 5px;
    background-color: burlywood;
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 1em sans-serif;
    cursor: pointer;
    box-sizing: border-box;
}
.card button:hover {
    background-color: #e9b6b6;
}

img {
    width: 100%;
    height: auto; 
    border-radius: 2%;
    box-sizing: border-box;
}